*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    /* height: 100; */
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    color: white;
}
h1{
    text-align: center;
}
.container{
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 10PX;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    
}

li{
    width: 100%;
}
li{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    /* align-items: safe; */
        padding: 2px;
        
}
li>button{
    /* padding-left: 15px; */
    padding: 10px;
    text-align: center;
}
button{
    color: rgb(15, 185, 46);
    /* text-align: left; */
    background-color: rgb(237, 27, 143);
}
