*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    /* height: 100; */
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    color: white;
}
h1{
    text-align: center;
}
.container{
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 10PX;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    
}

li{
    width: 100%;
}
.input-container{
    margin-bottom: 10px;
}
li{
    display: flex;
    /* flex-direction: column;  */
    justify-content: space-around;
    align-items: center;
    /* text-align: center; */

        padding: 2px;
        
}
#Delete-task-btn{
    background-color: rgb(16, 217, 167);
}
span{
    width: 10px;
}
li>button{
    /* padding-left: 15px; */
    padding: 5px;
    text-align: center;
}
#add-task-btn,li>button{
    color: rgb(255, 255, 255);
    /* text-align: left; */
    background-color: rgb(37, 19, 136);
}
